@charset "utf-8";
/* CSS Document */
.container
{
	position: absolute;
	top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
	left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
	width: 600 px; /* Definimos el ancho del objeto a centrar */
	height: 400px; /* Definimos el alto del objeto a centrar */
	margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
	margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
}

